<!--
Program:      Netd 3202 Lab 5 Salon Webpage
Created by:   Jacky Yuan
Date:         Dec 04, 2020
Purpose:      Basic website for a hair salon
Change log:   N/A
-->

@model NetD_lab5_Salon.Models.appointment

@{
    ViewData["Title"] = "Delete";
}

<!--Generates the view for confirmation of deleting an appointment-->
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.stylist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.stylist.fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.client.clientID)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="appointmentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
